/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* fonts */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter-Regular'), url(/fonts/bitter-400.woff) format('woff');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter-Bold'), url(/fonts/bitter-700.woff) format('woff');
}

/* main styles */
body {
    font-family: Bitter, serif;
    font-weight: 400;
    background-color: beige;
    height:100%;
}

h1 {
    font-family: Bitter, serif;
    font-weight: 700;
    color: white;
    padding: 12% 0 40px 12%;
    font-size: 40pt;
}

header {
    background-color: #ff6f47;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6f47), to(#c86443));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ff6f47, #c86443);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ff6f47, #c86443);
    /* IE 10 */
    background: -ms-linear-gradient(top, #ff6f47, #c86443);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ff6f47, #c86443);
}

section {
    margin: 0 12% 0 12%;
    padding-top: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message {
    font-size: 10pt;
    margin-bottom: 10px;
    background-color:#faf6e5;
    border: 1px solid #dbd4a3;
    padding:5px;
}

.message .message-content {
    margin-top:5px;
}

.message .date {
    float:right;
}

.message .from {
    font-weight:700;
}

#message_form {
    background: white;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #ff6f47;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#message_form label {
    display:block;
    margin-bottom: 10px;
}

#message_form input {
    width: 100%;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#message_form input.button {
    font-family: Bitter, serif;
    font-weight: 700;
    color:#ff6f47;
    background-color:black;
    width: 130px;
    height:35px;
    padding: 5px;
    float: left;
    margin-right: 30px;
    margin-top:10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 10px;
    border: 1px solid #999;
}

#message_form input.button:hover {
    background: #fff;
    color: black;
}

#links {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 20px 0 0;
    color: #94493b;
}

#links a {
    color: white;
}

#links a:hover {
    color: #94493b;
}

#messages {
    height: 300px;
    overflow: auto;
}

#errors {
    display: none;
}

.error {
    background-color: darkred;
    color: white;
    padding: 5px;
}

.cf {
    clear:both;
}

/* Modal */
#modals .window {
    display: none;
    background-color: white;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#modals .window {
    position: fixed;
    left: 0;
    top: 0;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
}